---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/post*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const projects = (await Astro.glob("./projects/post*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
const last_projects = projects.slice(0, 1);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Filippo Ferrando</div>
      <div class="text-3xl py-3 font-bold">CS Student - Musician - Petrolhead</div>
      <div class="py-2">
        <text class="text-lg">
          I'm a Computer Science student at the University of Torino, Italy.<br>
          I'm passionate about cyber security, music and cars.<br>
          When I'm not studying or working, I like to keep busy by working on my kart and going to the track whenever i can.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://t.me/FilippoFerrando" target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last project {"</>"}</div>
    </div>
    {
      last_projects.map((project) => (
        <HorizontalCard
          title={project.frontmatter.title}
          img={project.frontmatter.heroImage}
          desc={project.frontmatter.description}
          url={project.url}
          badge={project.frontmatter.badge}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
